<div class="container">
  <button class="btn btn-primary" [routerLink]="['/agregar']" routerLinkActive="router-link">Agregar</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">cedula</th>
        <th scope="col">nombre</th>
        <th scope="col">fecha</th>
        <th scope="col">cargo</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of lista">
        <td>{{empleado.id}}</td>
        <td>{{empleado.cedula}}</td>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.fecha}}</td>
        <td>{{empleado.cargo}}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminar(empleado.id)">eliminar</button>
          <button class="btn btn-warning" [routerLink]="['/editar/',empleado.id]" routerLinkActive="router-link">modificar</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>